# Виртуальное окружение
venv/

# Python
__pycache__/
*.pyc

# Игнорируем САМИ данные
data/images/

# DVC cache (внутренний)
.dvc/cache/

.gitignore

# Логи и временные файлы
*.log
*.tmp
/full_dataset.csv
