# Виртуальное окружение
venv/
__pycache__/
*.pyc

# DVC кэш (не загружаем сами большие данные)
# Не отслеживать все изображения
data/images/
.data/images/.gitignore
.data/images/*
!.dvc/
.cache/

# DVC метаданные можно коммитить
*.dvc
dvc.lock
.dvc/
.gitignore

# Логи и временные файлы
*.log
*.tmp